<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HyperionDX.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HyperionDX.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HyperionDX.Settings>
            <setting name="hyperionIP" serializeAs="String">
                <value>10.1.2.83</value>
            </setting>
            <setting name="hyperionPort" serializeAs="String">
                <value>19445</value>
            </setting>
            <setting name="frameDelay" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="exeName" serializeAs="String">
                <value />
            </setting>
        </HyperionDX.Settings>
        <HyperionDX.app>
            <setting name="hyperionIP" serializeAs="String">
                <value>10.1.2.83</value>
            </setting>
            <setting name="hyperionPort" serializeAs="String">
                <value>19445</value>
            </setting>
            <setting name="frameDelay" serializeAs="String">
                <value>60</value>
            </setting>
        </HyperionDX.app>
    </userSettings>
</configuration>